._1Mheader{
    max-width: 1066px;
    margin: 0 auto;
}
._logo{
    font-family: 'Alex Brush';
    font-size: 30px;
    padding-top: 15px;
    color:#FF5F00;
}
._Place_button{
    margin-left: -4rem!important;
}
._1i0e0 {
    max-width: 1066px;
    margin: 0px auto;
}
.trackable{
    font-weight: 100;
}
.h2text{
    font-weight: 100;
    font-size: 20px;
}
.ya5Kg{
    border: 1px solid #f56b2a;
    background: #fafafa;
}

@media (min-width: 768px)
{
    .oPgaL {
        display: none!important;
    }
}



#map {
    height: 100%;
  }


  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
  .SgsUB{
    color: #f56b2a;
    background: #fef0e9;
  }
  ._1ElXN, ._1fJ1g:hover:not(._2bUPG):not(._2FZYI) {
    color: #fff;
    background: #369932;
    border-color: #369932;
}
._2Y2l_:hover:not(._2bUPG):not(._2FZYI), ._3ECA6 {
  color: #fff;
  background: #3acc31;
  border-color: #3acc31;
}
._2V91m, .umi6E:hover:not(._2bUPG):not(._2FZYI) {
  color: #1a1a1a;
  background: #cdfd32;
  border-color: #cdfd32;
}
._2FZYI, .kH_nu {
  color: #1a1a1a;
  background: #fbea49;
  border-color: #fbea49;
}
._1gtn_, .e9luf:hover:not(._2bUPG):not(._2FZYI) {
  color: #1a1a1a;
  background: #fccb2f;
  border-color: #fccb2f;
}
._3GtdD:hover:not(._2bUPG):not(._2FZYI), .oZ6DB {
  color: #fff;
  background: #fb9c34;
  border-color: #fb9c34;
}
._1balE, .bfb5U:hover:not(._2bUPG):not(._2FZYI) {
  color: #fff;
  background: #fa1c1f;
  border-color: #fa1c1f;
}
.uO-lw.SgsUB {
  color: #f56b2a;
}
._2SwKK:hover:not(._2bUPG):not(._2FZYI), .Z67bt {
  color: #1a1a1a;
  background: #f6edfe;
  border-color: #f6edfe;
}
._1ifhX, ._1NufV:hover:not(._2bUPG):not(._2FZYI) {
  color: #1a1a1a;
  background: #e3c7fa;
  border-color: #e3c7fa;
}
._2C4sq:hover:not(._2bUPG):not(._2FZYI), .H2EyQ {
  color: #1a1a1a;
  background: #d2adf1;
  border-color: #d2adf1;
}
._36cg0, .plXPd:hover:not(._2bUPG):not(._2FZYI) {
  color: #fff;
  background: #c99aef;
  border-color: #c99aef;
}
._1COzd, ._2iGMG:hover:not(._2bUPG):not(._2FZYI) {
  color: #fff;
  background: #b77be9;
  border-color: #b77be9;
}
.b_t9z:hover:not(._2bUPG):not(._2FZYI), .zDy7y {
  color: #fff;
  background: #a659e9;
  border-color: #a659e9;
}
._2vBU9:hover:not(._2bUPG):not(._2FZYI), ._14zoH {
  color: #fff;
  background: #8835d9;
  border-color: #8835d9;
}